.b-example-divider {
    font-family: Arial, Helvetica, sans-serif
}
/*El b-example-divider fa el refrencia al contenedor gran sobre el header o tambe sobre la capçelera */
.b-example-divider {
    background-color: #000000;
    color: #fff;
    justify-content: center;
    margin-top: 0%;
    font-size: 140%;
    box-shadow: 0px 0px 90px rgb(255, 255, 255);
    backdrop-filter: blur(100px);
}
.primer-container-gran {
    background-image: url("fons.jpg");
    width: auto;
    height: auto;
}
/* El container es on definirem els botons per a la navegacio de les diferentes pagines.*/
.container {
    border-radius: 0%;
    height: 10%;
    padding-right: 0%;
    }

/*El nav es per a poder definir on estaran els boton*/
.nav {
    justify-content: right;
}
.menus{
    text-align: center;
}
.Platsperemportar{
    padding-top: 5px;
    width: 55%;
    height: 75%;
}
/*El contenedior 2 te una explicació sobre el restaurant*/
.container2 {
    padding-top: 3%;
    padding-bottom: 20%;
    color: #fdfdfd;
    text-align: center;

}

/*El footer es el peu de pagina per a la pagina web*/
.footers {
    box-shadow: 0px 0px 90px rgb(255, 255, 255);
    backdrop-filter: blur(100px);
    color: #ffffff;
    padding-top: 1%;
    padding-bottom: 1%;
    width: auto;
    background: #000000;

}
.Horaris{
    text-align: left;
    font-size: 100%;
    margin-left: 4%;
}
.logo-footer{
    width: 15%;
    height: 15%;
    margin-left: 40%;
    margin-top: -15%;
}
.copy{
    font-size: 60%;
    margin-left: 2%;
}
.instagram {
    float: right;
    margin-right: 20px;

  }
.a {
    float: right;
margin-right: 50px;
    }
@media (max-width:700px) {
    .b-example-divider {
        font-family: Arial, Helvetica, sans-serif
    }
    /*El b-example-divider fa el refrencia al contenedor gran sobre el header o tambe sobre la capçelera */
    .b-example-divider {
        background-color: #000000;
        color: #fff;
        justify-content: center;
        margin-top: 0%;
        font-size: 140%;
        box-shadow: 0px 0px 90px rgb(255, 255, 255);
        backdrop-filter: blur(100px);
    }
    .primer-container-gran {
        background-image: url("fons.jpg");
        width: auto;
        height: auto;
    }
    /* El container es on definirem els botons per a la navegacio de les diferentes pagines.*/
    .container {
        border-radius: 0%;
        height: 10%;
        padding-right: 0%;
        }
    
    /*El nav es per a poder definir on estaran els boton*/
    .nav {
        justify-content: right;
    }
    .menus{
        text-align: center;
    }
    .Platsperemportar{
        padding-top: 5px;
        width: 90%;
        height: 100%;
    }
    /*El contenedior 2 te una explicació sobre el restaurant*/
    .container2 {
        padding-top: 3%;
        padding-bottom: 20%;
        color: #fdfdfd;
        text-align: center;
    
    }
    
    /*El footer es el peu de pagina per a la pagina web*/
    .footers {
        box-shadow: 0px 0px 90px rgb(255, 255, 255);
        backdrop-filter: blur(100px);
        color: #ffffff;
        padding-top: 1%;
        padding-bottom: 1%;
        width: auto;
        background: #000000;
    
    }
    .Horaris{
        text-align: left;
        font-size: 100%;
        margin-left: 4%;
    }
    .logo-footer{
        width: 15%;
        height: 15%;
        margin-left: 40%;
        margin-top: -15%;
    }
    .copy{
        font-size: 60%;
        margin-left: 2%;
    }
    .instagram {
        float: right;
        margin-right: 20px;
    
      }
    .a {
        float: right;
    margin-right: 50px;
}
}