.b-example-divider {
    font-family: Arial, Helvetica, sans-serif
}
/*El b-example-divider fa el refrencia al contenedor gran sobre el header o tambe sobre la capçelera */
.b-example-divider {
    background: #000000;
    display: flex;
    justify-content: center;
    margin-top: 0%;
    font-size: 140%;
}
.logo{
    width: 10%;
    height: 10%;
}
/* El container es on definirem els botons per a la navegacio de les diferentes pagines.*/
.container {
    border-radius: 0%;
    height: 10%;
}

/*El nav es per a poder definir on estaran els boton*/
.nav {
    justify-content: right;
}
.primer-container-gran {
    background-color: #ffffffa2;
    background-image: url("fons.jpg");
    width: auto;
    height: auto;
}
/*Color dels container 1*/
.primer-container-gran {
    background-color: #ffffffa2;
}

/*El contenedior 1 te fotos sobre el restaurant*/
.container1 {
    padding-top: 3%;
    padding-bottom: 5%;
    width: 99%;
    height: 70%;
    color: #000000;
    border-radius: 0%;
    text-align: center;
}

/*El contenedior 2 te una explicació sobre el restaurant*/
.container2 {
    padding-top: 3%;
    width: auto;
    padding-bottom: 20%;
    color: #ffffff;
    text-align: center
}

/*El footer es el peu de pagina per a la pagina web*/
.footers {
    box-shadow: 0px 0px 90px rgb(255, 255, 255);
    backdrop-filter: blur(100px);
    color: #ffffff;
    padding-top: 1%;
    padding-bottom: 1%;
    width: auto;
    background: #000000;

}
.Horaris{
    text-align: left;
    font-size: 100%;
    margin-left: 4%;
}
.logo-footer{
    width: 15%;
    height: 15%;
    margin-left: 70%;
    margin-top: -15%;
}
.copy{
    font-size: 60%;
    margin-left: 2%;
}
.instagram {
    float: right;
    margin-right: 20px;
  }
.a {
    float: center;
    margin-right: 50px;
}
.fundacio{
    width: 2%;
    height: 2%;
}


@media (max-width:700px) {
    .b-example-divider {
        font-family: Arial, Helvetica, sans-serif
    }
    /*El b-example-divider fa el refrencia al contenedor gran sobre el header o tambe sobre la capçelera */
    .b-example-divider {
        background: #000000;
        display: flex;
        justify-content: center;
        margin-top: 0%;
        font-size: 140%;
    }
    .logo{
        
        width: 10%;
        height: 10%;
    }
    /* El container es on definirem els botons per a la navegacio de les diferentes pagines.*/
    .container {
        border-radius: 0%;
        height: 10%;
    }
    
    /*El nav es per a poder definir on estaran els boton*/
    .nav {
        justify-content: right;
    }
    .primer-container-gran {
        background-color: #ffffffa2;
        background-image: url("fons.jpg");
        width: auto;
        height: auto;
    }
    /*Color dels container 1*/
    .primer-container-gran {
        background-color: #ffffffa2;
    }
    
    /*El contenedior 1 te fotos sobre el restaurant*/
    .container1 {
        padding-top: 3%;
        padding-bottom: 5%;
        width: 99%;
        height: 70%;
        color: #000000;
        border-radius: 0%;
        text-align: center;
    }
    
    /*El contenedior 2 te una explicació sobre el restaurant*/
    .container2 {
        padding-top: 3%;
        width: auto;
        padding-bottom: 20%;
        color: #ffffff;
        text-align: center
    }
    
    /*El footer es el peu de pagina per a la pagina web*/
    .footers {
        box-shadow: 0px 0px 90px rgb(255, 255, 255);
        backdrop-filter: blur(100px);
        color: #ffffff;
        padding-top: 1%;
        padding-bottom: 1%;
        width: auto;
        background: #000000;
    
    }
    .Horaris{
        text-align: left;
        font-size: 100%;
        margin-left: 4%;
    }
    .logo-footer{
        width: 15%;
        height: 15%;
        margin-left: 40%;
        margin-top: -15%;
    }
    .copy{
        font-size: 60%;
        margin-left: 2%;
    }
    .instagram {
        float: right;
        margin-right: 20px;
    
      }
    .a {
        float: right;
    margin-right: 50px;
    }
}