 .b-example-divider {
     font-family: Arial, Helvetica, sans-serif
 }

 /*El b-example-divider fa el refrencia al contenedor gran sobre el header o tambe sobre la capçelera */
 .capçelera{
    background-color: #000000;
    color: #fff;
    justify-content: center;
    margin-top: 0%;
    font-size: 140%;
    box-shadow: 0px 0px 90px rgb(255, 255, 255);
    backdrop-filter: blur(100px);

 }

 /* El container es on definirem els botons per a la navegacio de les diferentes pagines.*/
 .container {
     border-radius: 0%;
     height: 10%;
     color: #ffffff;
 }

 /*El nav es per a poder definir on estaran els boton*/

 /*Color dels container 1*/
 .primer-container-gran {
     background-color: #ffffffa2;
     background-image: url("fons.jpg");
     width: auto;
     height: auto;
 }

 .hola {
     color: rgb(255, 255, 255);
     font-family: Georgia, sans-serif
 }
 .nav {
    justify-content: right;
}

 /*El contenedior 2 te una explicació sobre el restaurant*/
 .container2 {
     padding-top: 3%;
     padding-bottom: 6%;
     color: #ffffff;
     text-align: center;
     font-family: Georgia, sans-serif
 }

 .mapa {
     margin-top: 2%;
     width: 99%;
     height: 800px;
 }

 /*El footer es el peu de psagina per a la pagina web*/
 .footers {
    box-shadow: 0px 0px 90px rgb(255, 255, 255);
    backdrop-filter: blur(100px);
    color: #ffffff;
    padding-top: 1%;
    padding-bottom: 1%;
    width: auto;
    background: #000000;

}
.Horaris{
    text-align: left;
    font-size: 100%;
    margin-left: 4%;
}
.logo-footer{
    width: 15%;
    height: 15%;
    margin-left: 40%;
    margin-top: -15%;
}
.copy{
    font-size: 60%;
    margin-left: 2%;
}
.instagram {
    float: right;
    margin-right: 20px;

  }
.a {
    float: right;
margin-right: 50px;
}

 @media (max-width:700px) {
    .b-example-divider {
        font-family: Arial, Helvetica, sans-serif
    }
   
    /*El b-example-divider fa el refrencia al contenedor gran sobre el header o tambe sobre la capçelera */
    .capçelera{
       background-color: #000000;
       color: #fff;
       justify-content: center;
       margin-top: 0%;
       font-size: 140%;
       box-shadow: 0px 0px 90px rgb(255, 255, 255);
       backdrop-filter: blur(100px);
    }
   
    /* El container es on definirem els botons per a la navegacio de les diferentes pagines.*/
    .container {
        border-radius: 0%;
        height: 10%;
        color: #ffffff;
    }
   
    /*El nav es per a poder definir on estaran els boton*/
   
    /*Color dels container 1*/
    .primer-container-gran {
        background-color: #ffffffa2;
        background-image: url("fons.jpg");
        width: auto;
        height: auto;
    }
   
    .hola {
        color: rgb(255, 255, 255);
        font-family: Georgia, sans-serif
    }
   
    /*El contenedior 2 te una explicació sobre el restaurant*/
    .container2 {
        padding-top: 3%;
        padding-bottom: 6%;
        color: #ffffff;
        text-align: center;
        font-family: Georgia, sans-serif
    }
   
    .mapa {
        margin-top: 2%;
        width: 99%;
        height: 800px;
    }
   
    /*El footer es el peu de psagina per a la pagina web*/
    .footers {
       box-shadow: 0px 0px 90px rgb(255, 255, 255);
       backdrop-filter: blur(100px);
       color: #ffffff;
       padding-top: 1%;
       padding-bottom: 1%;
       width: auto;
       background: #000000;
   
   }
   .Horaris{
       text-align: left;
       font-size: 100%;
       margin-left: 4%;
   }
   .logo-footer{
       width: 15%;
       height: 15%;
       margin-left: 40%;
       margin-top: -15%;
   }
   .copy{
       font-size: 60%;
       margin-left: 2%;
   }
   .instagram {
       float: right;
       margin-right: 20px;
   
     }
   .a {
       float: right;
   margin-right: 50px;
   }
}