 .b-example-divider {
     font-family: Arial, Helvetica, sans-serif
 }

 /*El b-example-divider fa el refrencia al contenedor gran sobre el header o tambe sobre la capçelera */
 .b-example-divider {
    background-color: #ffffff;
    color: rgb(248, 3, 3);
    justify-content: center;
    margin-top: 0%;
    font-size: 140%;
    box-shadow: 0px 0px 90px rgb(255, 255, 255);
    backdrop-filter: blur(100px);
}
 /* El container es on definirem els botons per a la navegacio de les diferentes pagines.*/
 .container {
     border-radius: 0%;
     height: 10%;
 }

 /*El nav es per a poder definir on estaran els boton*/

 /*Color dels container 1*/
 .primer-container-gran {
     background-color: #ffffffa2;
 }
.hola{
    color:rgb(0, 0, 0);
    font-family: Georgia, sans-serif

}
 /*El contenedior 2 te una explicació sobre el restaurant*/
 .container2 {
     padding-top: 3%;
     padding-bottom: 6%;
     background-color: #dee06188;
     color: #000000;
     text-align: center;
     font-family: Georgia, sans-serif
 }

 .mapa {
    margin-top: 2%;
     width: 99%;
     height: 800px;
 }

 /*El footer es el peu de psagina per a la pagina web*/
 .footers {
    padding-top: 1%;
    padding-bottom: 1%;
    width: auto;
    background: #000000;
    color: #ffffff;
    border-radius: 0%;
    backdrop-filter: blur(70px);
    box-shadow: 0px 0px 90px #222;
}
.Horaris{
    text-align: left;
    font-size: 100%;
    margin-left: 4%;
}
.logo-footer{
    width: 15%;
    height: 15%;
    margin-left: 40%;
    margin-top: -20%;
}
.copy{
    font-size: 60%;
    margin-left: 2%;

}

@media (max-width:700px) {
    .b-example-divider {
        font-family: Arial, Helvetica, sans-serif
    }
   
    /*El b-example-divider fa el refrencia al contenedor gran sobre el header o tambe sobre la capçelera */
    .b-example-divider {
        background: rgba(83, 219, 210, 0.612);
        display: flex;
        justify-content: center;
        margin-top: 0%;
        font-size: 140%;
        box-shadow: 0px 0px 90px #222;
        backdrop-filter: blur(100px);
       }

    /* El container es on definirem els botons per a la navegacio de les diferentes pagines.*/
    .container {
        border-radius: 0%;
        height: 10%;
    }
   
    /*El nav es per a poder definir on estaran els boton*/
    .nav {
        justify-content: right;
    }
   
    /*Color dels container 1*/
    .primer-container-gran {
        background-color: #ffffffa2;
    }
   .text{
       color:rgb(0, 0, 0);
       font-family: Georgia, sans-serif
   
   }
    /*El contenedior 2 te una explicació sobre el restaurant*/
    .container2 {
        padding-top: 3%;
        padding-bottom: 6%;
        background-color: #dee06188;
        color: #000000;
        text-align: center;
        font-family: Georgia, sans-serif
   
   
   
    }
   
    .mapa {
       margin-top: 2%;
        width: 99%;
        height: 800px;
    }
   
    /*El footer es el peu de psagina per a la pagina web*/
    .footers {
        padding-top: 1%;
        padding-bottom: 1%;
        width: auto;
        background: #000000;
        color: #ffffff;
        border-radius: 0%;
        backdrop-filter: blur(70px);
        box-shadow: 0px 0px 90px #222;
    }
    .Horaris{
        text-align: left;
        font-size: 100%;
        margin-left: 4%;
    }
    .logo-footer{
        width: 15%;
        height: 15%;
        margin-left: 40%;
        margin-top: -20%;
    }
    .copy{
        font-size: 60%;
        margin-left: 2%;
    
    }
   }
 